In [29]:
#import dependencies 
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree
import pandas as pd
import numpy as np
import os

In [30]:
# read data
fires_df = pd.read_csv("data/forestfires.csv")
fires_df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [31]:
Xdata = fires_df.copy()

data_binary_encoded = pd.get_dummies(Xdata)
data_binary_encoded.head()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,month_nov,month_oct,month_sep,day_fri,day_mon,day_sat,day_sun,day_thu,day_tue,day_wed
0,7,5,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,1,0,0,0,0,0,0
1,7,4,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,1,0,0,0,0,0,0,1,0
2,7,4,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,1,0,0,0,1,0,0,0,0
3,8,6,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,1,0,0,0,0,0,0
4,8,6,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,0,0,1,0,0,0

In [32]:
X = data_binary_encoded.drop(columns=["area"])
y = fires_df["area"].values.reshape(-1,1)
print(X.shape, y.shape)

(517, 29) (517, 1)

In [33]:
#We have to set a Target Value and Set all independent variables as the "data"
target = fires_df["area"]
target.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: area, dtype: float64

In [34]:
data = data_binary_encoded.drop(columns=["area"], axis=1)
feature_names = data.columns
data.head()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,month_nov,month_oct,month_sep,day_fri,day_mon,day_sat,day_sun,day_thu,day_tue,day_wed
0,7,5,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,1,0,0,0,0,0,0
1,7,4,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,1,0,0,0,0,0,0,1,0
2,7,4,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,1,0,0,0,1,0,0,0,0
3,8,6,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,1,0,0,0,0,0,0
4,8,6,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,0,0,1,0,0,0

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [ ]:
#Decision Tree Classifer
#clf = tree.DecisionTreeClassifier()
#clf = clf.fit(X_train, y_train)
#clf.score(X_test, y_test)

In [ ]:
#classifier Issues: error unkonwn label type continues. particularly on cl.fit(X_train, y_train), so I printed my y train and x_train values. according to slack overflow the suggestion is "it seems the y_train values are not discrete bu tcointuous and you are trying a classification task on them"

In [42]:
y_train.head()

446    0.00
515    0.00
154    1.46
25     0.00
265    0.79
Name: area, dtype: float64

In [43]:
X_train.head()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,month_nov,month_oct,month_sep,day_fri,day_mon,day_sat,day_sun,day_thu,day_tue,day_wed
446,6,5,92.0,203.2,664.5,8.1,19.1,70,2.2,0.0,...,0,0,0,0,0,0,1,0,0,0
515,1,4,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,...,0,0,0,0,0,1,0,0,0,0
154,1,5,93.4,145.4,721.4,8.1,29.6,27,2.7,0.0,...,0,0,1,0,0,1,0,0,0,0
25,7,4,91.4,142.4,601.4,10.6,16.3,60,5.4,0.0,...,0,0,0,0,0,0,1,0,0,0
265,4,4,93.7,102.2,550.3,14.6,22.1,54,7.6,0.0,...,0,0,0,0,0,0,0,0,1,0

In [36]:
# Attempt at 'Decision Tree Regressor' 
from sklearn.tree import DecisionTreeRegressor

In [37]:
clf = tree.DecisionTreeRegressor()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

-0.13483178065899049

In [ ]:
# Checking our Random Forest Classier Vs. Decision Tree Classifer 

#from sklearn.ensemble import RandomForestClassifier
#rf = RandomForestClassifier(n_estimators=200)
#rf = rf.fit(X_train, y_train)
#rf.score(X_test, y_test)

In [38]:
# check out randorm forest regressor 
from sklearn.ensemble import RandomForestRegressor

In [39]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

-0.004608935511644097

In [40]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.20372459788236869, 'temp'),
 (0.15907750019058917, 'DMC'),
 (0.12734196548279308, 'RH'),
 (0.08281829721903598, 'Y'),
 (0.06535801607839195, 'FFMC'),
 (0.061892253705316765, 'X'),
 (0.05802826965805848, 'wind'),
 (0.050938136804786836, 'DC'),
 (0.04865583413916467, 'ISI'),
 (0.029558487226462808, 'day_thu'),
 (0.024230450014151746, 'day_sat'),
 (0.022826224955197046, 'day_mon'),
 (0.019082203746042452, 'month_jul'),
 (0.011972214715914748, 'day_wed'),
 (0.009858195035415043, 'day_sun'),
 (0.006284920787020204, 'month_aug'),
 (0.006226468874204224, 'month_sep'),
 (0.005531898407938316, 'day_tue'),
 (0.0019036276508062916, 'month_may'),
 (0.0017337696699084766, 'day_fri'),
 (0.0009363239330270866, 'month_mar'),
 (0.00048778931970045174, 'month_feb'),
 (0.00046579231016723887, 'month_oct'),
 (0.000461016669078632, 'month_jun'),
 (0.0003741172711403253, 'rain'),
 (0.0002105197957667935, 'month_dec'),
 (2.08096265788857e-05, 'month_apr'),
 (1.966550878046871e-07, 'month_nov'),
 (1.0217588561727003e-07, 'month_jan')]